@model MovieReview.Models.Movie

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <form class="form-horizontal">
        <fieldset>
            <legend>Movie</legend>

            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.MovieName)
                <div class="form-control has-success">
                    @Html.EditorFor(model => model.MovieName)
                    @Html.ValidationMessageFor(model => model.MovieName)
                </div>
            </div>
            

            <div class="form-group">
                @Html.LabelFor(model => model.DirectorName)

                <div class="form-control has-success">
                    @Html.EditorFor(model => model.DirectorName)
                    @Html.ValidationMessageFor(model => model.DirectorName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseYear)
                <div class="form-control has-success">
                    @Html.EditorFor(model => model.ReleaseYear)
                    @Html.ValidationMessageFor(model => model.ReleaseYear)
                </div>
            </div>
            
            <br />
            <p>
                <input class="btn-primary" type="submit" value="Save" />
            </p>
        </fieldset>
</form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
}
