@model IPagedList<MovieReview.Models.MovieViewModel>


<div id="movieDiv">

    <div class="pagedList" data-movie-target="#movieDiv">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithPageCountText)
    </div>
    @foreach (var item in Model)
    {
        <div class="ui-grid-b">
            <div class="ui-block-a">
                <h4>Name - @item.MovieName</h4><br />
            </div>
            <div class="ui-block-b">
                <div> <h5>Director - @item.DirectorName</h5></div>
                <div>
                    <h5>Release Year - @item.ReleaseYear</h5>
                </div>
                <div>
                    <h5>No Of Reviews - @item.NoOfReviews</h5>
                </div>
            </div>
            <hr />
        </div>
    }
    <div class="pagedList" data-movie-target="#movieDiv">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithPageCountText)
    </div>
</div>