@model MovieReview.Models.LocalPasswordModel


@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <form class="form-horizontal">
        <fieldset>
            <legend>Change Password Form</legend>
            <div class="form-group">

                @Html.LabelFor(m => m.OldPassword)
                <div class="form-control">
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)

                <div class="form-control">
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)

                <div class="form-control">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <p>
                <input class="btn-primary" type="submit" value="Change password" />
            </p>
        </fieldset>
        </form>
        }
